.index-layout {
  display: flex;
}
.flex-child-aside {
  border: 1px solid black;
  border-radius: 8px;
  flex: 1;
}
.flex-child-main {
  display: flex;
  flex: 5;
  flex-wrap: wrap;
}
.flex-child-main a {
  color: black;
  text-decoration: none;
}
.flex_child_of_child {
  background-color: grey;
  border-radius: 8px;
  border: 1px solid black;
  flex: 1;
  margin: 20px;
  min-width: 250px;
  text-align: center;
}

.formular{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.flex-container-center {
  display: flex;
  justify-content: center;
}
.flex-child-profile {
  background-color: grey;
  border-radius: 8px;
  border: 1px solid black;
  padding: 25px;
}
.flex-container-auctions {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

.bold-text {
  border-bottom: 1px solid black;
  font-weight: bold;
}
.flex-child-profile a {
  color: black;
  text-decoration: none;
}
.bottom-border {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}
.profile-separator {
  margin-top: 75px;
}
.bold {
  font-weight: bold;
}
#aside_title {
  background-color: yellow;
  border-radius: 8px;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  text-align: center;
  /* border radius for at border passer med diven der er udenom denne <p> */
}
.list_style_tpye_aside {
  list-style-type: none;
}
.list_style_tpye_aside a {
  color: black;
  text-decoration: none;
}
.list_style_tpye_aside a li:hover {
  background-color: yellow;
  color: blue;
  font-weight: bold;
}
